/* detalles.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 20px;
}

h1 {
    color: #007bff;
}

.contenedor-detalles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.caracteristicas-detalles {
    width: 60%;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
}

.reseñas {
    width: 35%;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
}

.formulario-reseñas {
    margin-top: 20px;
}

.formulario-reseñas label,
.formulario-reseñas button {
    display: block;
    margin-bottom: 10px;
}

.formulario-reseñas textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.formulario-reseñas button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.formulario-reseñas button:hover {
    background-color: #0056b3;
}

.eliminar-btn {
    background-color: #dc3545;
}

.eliminar-btn:hover {
    background-color: #c82333;
}

.enlaces {
    margin-top: 20px;
    text-align: center;
}

.enlace {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.enlace:hover {
    text-decoration: underline;
}