<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Agregar Dispositivo - Tienda Virtual</title>
    <link rel="stylesheet" href="/css/agregar.css">
</head>

<body>
    <h1>Agregar Dispositivo</h1>

    <form th:action="@{/dispositivos/agregardispositivo}" th:object="${newDispositivo}" method="post">
        <!-- Campos para Dispositivo -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
        <br>
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" th:field="*{marca}" required>
        <br>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" th:field="*{tipo}" required>
        <br>

        <!-- Campos para Características -->
        <label for="procesador">Procesador:</label>
        <input type="text" id="procesador" name="procesador" th:field="*{caracteristicas.procesador}" required>
        
        <br>
        <label for="ram">RAM:</label>
        <input type="number" id="ram" name="ram" th:field="*{caracteristicas.ram}" required>
        <br>
        <label for="almacenamiento">Almacenamiento:</label>
        <input type="text" id="almacenamiento" name="almacenamiento" th:field="*{caracteristicas.almacenamiento}" required>
        <br>

        <!-- Otros campos -->
        <label for="fechaLanzamiento">Fecha de Lanzamiento:</label>
        <input type="date" id="fechaLanzamiento" name="fechaLanzamiento">
        <br>
        <label for="camara">Cámara:</label>
        <input type="text" id="camara" name="camara">
        <br>

        <!-- Nuevo campo para la URL de la imagen -->
        <label for="urlImagen">URL de la Imagen:</label>
        <input type="text" id="urlImagen" name="urlImagen" required>
        <br>

        <input type="hidden" th:field="*{id}" />
        <button type="submit">Agregar</button>
    </form>

    <!-- Enlace para volver a la lista de dispositivos -->
    <a th:href="@{/dispositivos/listadodispositivos}">Volver a la Lista de Dispositivos</a>
</body>

</html>
